
        
        h1 {
            color: rgb(255, 0, 0);
            font-size: 70px;
            margin: 0;
            text-align: center;
            font-family: "Madimi One", sans-serif;
            font-weight: 400;
            font-style: normal;
          
        }
    P,a{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;}
      

        
        table {
            width: 60%;
            margin-bottom: 20px;
            border-collapse: collapse;
            margin:0 auto ;
        }
        
        th, td {
            border: 1px solid  #ff0000;
            padding: 10px;
            text-align: center;
            color: #ffffff;
        }
        
        th {
            background-color:  #ff0000;
            color: #ffffff;
        }
        
            

            aside{
                float: left;
                width: 25%;
               
               background-color: rgba(150, 150, 150, 0.1);
                margin: 25px 2.5% 0; 
                height: 700px;
              }
              
              .texto-derecha {
                display: none;
            }
              
              
             #principio {
                float: right;
                width: 65%;
                background-color: #000000;
                
                text-align: justify;
                margin: 25px  2.5% 0;
                color: #ffffff;
                font-size: 17px;
                
              }
              main p {
                margin: 20px ; 
            }
              footer{
                background-color: rgba(150, 150, 150, 0.0);
                text-align: right;
                color: rgb(255, 0, 0);
                width: 95%;
              }
              aside img {
                width: 108%; 
                height: auto;
            }
            
#menu a {
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff; 
    transition: color 0.3s; 
}

#menu a:hover {
    color: #ff0000; /* Color de las letras al pasar el mouse (hover) */
}
header{
    background-color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    width: 90%;
    margin: 0 auto;
}
#cuerpo {
    background-image: url('imagenes/principal.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

    
}
#siu {
    background-image: url('imagenes/principal.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

    
}



#extension{
    background-color: #000000;
    width: 90%;
    margin: 0 auto;
    
}
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin: 20px;
}

#productos img {
    width: 275px; /* Establecer un ancho fijo para todas las imágenes */
    height: 275px; /* Establecer una altura fija para todas las imágenes */
    object-fit: cover; /* Ajustar la imagen para cubrir el contenedor manteniendo las proporciones */
}
#productos img:hover {
    transform: scale(1.1); /* Hacer zoom al pasar el ratón por encima */
    border: 3px solid #cccccc; /* Agregar borde de color al pasar el ratón por encima */
}

#productos p {
    color: white;
    text-align: center;
    margin: 5px;
    font-size: 18px;
}
lista {
    text-align: center; 
}

#lista ul {
    text-align: center;
    list-style: none; 
}
h2{
    color: #ff0000;
    text-align: center;
}
#lista li {
    color: white; 
    margin-bottom: 10px; 
    text-align: center;

}
p{
    color: #ffffff;
    font-size: 20px;
}
#nosotros{
    padding: 25px;
    background-color: #000000;
    width: 90%;
    margin: 0 auto;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo figure {
    margin: 0;
    color: #cccccc;
    font-size: 40PX;
}

.logo .fotologo {
    width: 60%;
    height: auto;
}

.logo .texto-derecha {
    width: 100%;
    text-align: justify; /* Alinea el texto a la justificación */
    margin-bottom: 10px;
}   @media  screen and (min-width: 360px) and (max-width: 650px) {
        #cuerpo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; /* Añadido para centrar verticalmente */
            background-image: url('imagenes/cesped.jpg');
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
        }
      
            p.ocultoenmovil{
                display: none;
            }
        
        
        aside {
            margin: 0;
           height: fit-content;
            order: 2;
            width:90%;
            background-color: #000000;
            
        }
        p{
            font-size: 13px;
        }
        aside img {
            width: 40%; /* Ajusta el porcentaje según el tamaño deseado */
            height: auto; /* Mantiene la proporción original de la imagen */
            float: left;
            margin-bottom: 30px;
            margin-left:30px;
        }
        #principio {
            order: 1;
            width: 90%;
            margin-top: -20px;
            
        }
    #principio p{margin: 20px;

    }
        footer {
            order: 3;
            width: 90%;
            color: white;
        }
        aside a.texto-derecha {
            width: 40%; /* Ajusta el porcentaje según el tamaño deseado */
            height: auto; /* Mantiene la proporción original de la imagen */
            float: right;
            margin-bottom: 30px;
            margin-right:30px;
            display: block;
            color: #ffffff;
            font-size: 13px;
        }
        header{
            background-color: #000000;
            text-align: center;
            padding: 20px;
            font-size: 25px;
            width: 85%;
            margin: 0 auto;
        }
       
            #productos img {
                width: 125px; /* Establecer un ancho fijo para todas las imágenes */
                height: 125px; /* Establecer una altura fija para todas las imágenes */
                
            }
            #productos{
                gap: 20px;
            }
            #productos p{
                font-size: 13px;
            }
            h1{
                font-size: 40px;
            }

            #siu {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; /* Añadido para centrar verticalmente */
                background-image: url('imagenes/cesped.jpg');
                background-size: cover; 
                background-position: center; 
                background-repeat: no-repeat;
               
                
            }
            #extension{
                width: 90%;
            }
          td{
            font-size: 13px;
          }
          li{
            font-size: 13px;
          }
          #nosotros{
            width: 83%;
          }
          
          main p {
            margin: 10px ;
        text-align: left;
        }
        .logo figure {
            margin: 0;
            color: #cccccc;
            font-size: 20PX;
        }
}
@media  screen and (min-width: 651px) and (max-width: 1250px) {
    #cuerpo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Añadido para centrar verticalmente */
        background-image: url('imagenes/cesped.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
    }
  
        p.ocultoenmovil{
            display: none;
        }
    
    
    aside {
        margin: 0;
       height: fit-content;
        order: 2;
        width:90%;
        background-color: #000000;
        
    }
    p{
        font-size: 17px;
    }
    aside img {
        width: 40%; /* Ajusta el porcentaje según el tamaño deseado */
        height: auto; /* Mantiene la proporción original de la imagen */
        float: left;
        margin-bottom: 30px;
        margin-left:30px;
    }
    #principio {
        order: 1;
        width: 90%;
        margin-top: -20px;
        
    }
#principio p{margin: 25px;

}
    footer {
        order: 3;
        width: 90%;
        color: #0084ff;
          
    }
    aside a.texto-derecha {
        width: 40%; /* Ajusta el porcentaje según el tamaño deseado */
        height: auto; /* Mantiene la proporción original de la imagen */
        float: right;
        margin-bottom: 30px;
        margin-right:30px;
        display: block;
        color: #ffffff;
        font-size: 17px;
    }
    header{
        background-color: #000000;
        text-align: center;
        padding: 22px;
        font-size: 30px;
        width: 85%;
        margin: 0 auto;
    }
   
        #productos img {
            width: 155px; /* Establecer un ancho fijo para todas las imágenes */
            height: 155px; /* Establecer una altura fija para todas las imágenes */
            
        }
        #productos{
            gap: 30px;
        }
        #productos p{
            font-size: 13px;
        }
        h1{
            font-size: 50px;
        }

        #siu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; /* Añadido para centrar verticalmente */
            background-image: url('imagenes/cesped.jpg');
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
           
            
        }
        #extension{
            width: 90%;
        }
      td{
        font-size: 17px;
      }
      li{
        font-size: 17px;
      }
      #nosotros{
        width: 83%;
      }
      
      main p {
        margin: 10px ;
    text-align: left;
    font-size: 17px;
    }
    .logo figure {
        margin: 0;
        color: #cccccc;
        font-size: 20PX;
    }
}